


{{!-- home --}}

<div class="csschovui">
<p class="cssbuathoi">Tài Liệu Phổ Biến</p>
<div class="mt-4">
  <div class="row">

    {{#each documents}}
     <div class="col-sm-6 col-md-3">
      <div class="card card-document card-css-home ">
       <a href="/documents/{{this.slug}}">
         <img src="{{this.image}}" class="card-img-top" alt="{{this.name }}">
       </a>
            
 
  <div class="card-body">
   <a href="/documents/{{this.slug}}">
   <h5 class="card-title">{{this.name }}</h5>
    </a>
    <p class="card-text">{{this.description }}</p>
    <a href="/documents/{{this.slug}}" class="btn btn-primary">Xem tài liệu</a>
  </div>
</div>
    </div>
    
    {{/each}}
  </div>
</div>
</div>











