{{!-- header --}}
<div id="wrapper">
  <div id="header">
<nav class="container">
  <a href="/home" id="logo">
    <img src="../img/logo6.jpg" alt=""></a>
    
  <ul id="main-menu">
      <li> <a href="/home">TRANG CHỦ </a>
      <li> <a href="">DANH MỤC </a>
      <ul class="sub-menu">
        <li><a href="">Công Nghệ Thông Tin</a>
        <ul class="sub-menu">
        <li><a href="/documents/menu">Năm 1</a></li>
        <li><a href="">Năm 2</a></li>
        <li><a href="">Năm 3</a></li>
        <li><a href="">Năm 4</a></li>
      </ul>
      </li>
        
        <li><a href=""> Điện Tử Truyền Thông</a>
        <ul class="sub-menu">
        <li><a href="">Năm 1</a></li>
        <li><a href="/documents/menu">Năm 2</a></li>
        <li><a href="">Năm 3</a></li>
        <li><a href="">Năm 4</a></li>
      </ul>
        </li>
        <li><a href="">Điện_Điện Tử</a>
        <ul class="sub-menu">
        <li><a href="">Năm 1</a></li>
        <li><a href="">Năm 2</a></li>
        <li><a href="">Năm 3</a></li>
        <li><a href="">Năm 4</a></li>
      </ul>
      </li>
        <li><a href="">An Toàn Thông Tin</a>
        <ul class="sub-menu">
        <li><a href="">Năm 1</a></li>
        <li><a href="">Năm 2</a></li>
        <li><a href="">Năm 3</a></li>
        <li><a href="">Năm 4</a></li>
      </ul>
      </li>
        {{!-- <li><a href="">Menu 2.5</a></li> --}}
      </ul>
      {{!-- </li> --}}
      <li>
<div class="input-group input-search">
  <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
  <button type="button" class="btn btn-outline-primary">Search</button>
</div>
      </li>
      <li><a class="gioithieu1" href="/home/intro">GIỚI THIỆU</a></li>
      <li><a  class="gioithieu"  href="/home/:userId">TÀI KHOẢN</a></li> 
    </ul>
</nav>
  </div>

  <div id="slider-background">
                  <img src="../img/backgroud.jpg" alt=""></a>

</div>
</div> 



{{!-- home --}}



<p class="cssbuathoi">Tài Liệu Phổ Biến </p>
<div class="mt-4">
  <div class="row">

    {{#each documents}}
     <div class="col-sm-6 col-md-3">
      <div class="card card-document card-css-home ">
       <a href="/documents/{{this.slug}}">
         <img src="{{this.image}}" class="card-img-top" alt="{{this.name }}">
       </a>
            
 
  <div class="card-body">
   <a href="/documents/{{this.slug}}">
   <h5 class="card-title">{{this.name }}</h5>
    </a>
    <p class="card-text">{{this.description }}</p>
    <a href="/documents/{{this.slug}}" class="btn btn-primary">Xem tài liệu</a>
  </div>
</div>
    </div>
    
    {{/each}}
  </div>
</div>













{{!-- 
footer  --}}
<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4   icon-footer">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-facebook-f"></i
      ></a>

      <!-- Twitter -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-twitter"></i
      ></a>

      <!-- Google -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-google"></i
      ></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-linkedin-in"></i
      ></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
        ><i class="fab fa-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    ©2022 
    <a class="text-white" href="">group03.com</a>
  </div>
  <!-- Copyright -->
</footer>
        
